<!-- registration/password_reset_form.html -->
<!-- {% extends 'base.html' %}

{% block content %}
  <h2>Reset password</h2>
  <form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset password</button>
  </form>
{% endblock %} -->

{% extends 'base_site.html' %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Password Reset</h2>
        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
{% endblock %}


