{% load static %}
{% csrf_token %}
 <!-- Footer -->
 <!-- <footer style="background-color:#202431;" class="text-center py-3">
    <div  style="color: #f8f8f7;" class="container"> -->
     <!-- Add contact details here -->
      <!-- <p>© Indian Spinner Association. All rights reserved.</p>
    </div>
  </footer>
</div> -->
    <!-- Footer -->
    <div  style="position:fixed; bottom: 0px;width: 100%;">
        <footer class="bg-dark text-light text-center py-3" >
            &copy; 2023 Matrimony Site by Vaibhav Deshmukh
        </footer>
  </div>